@model IEnumerable<SubjectTeacher>
@{
    ViewData["Title"] = "Subjects";
}

<div class="text-center">
    <h3>Subjects</h3>
    <a asp-action="Add">Add subject</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Teacher</th>
            <th>Maximun mark</th>
            <th>Change</th>
            <th>Remove</th>
        </tr>
        @foreach (var subject in Model)
        {
            <tr>
                <td> @subject.Subject.Name</td>
                <td> @subject.Teacher.LastName  @subject.Teacher.FirstName @subject.Teacher.MiddleName</td>
                <td> @subject.Subject.MaxMark </td>
                <td><a href="~/Subjects/Edit/@subject.Subject.Id"><i class="far fa-edit"></i></a></td>
                <td><a href="~/Subjects/Delete/@subject.Subject.Id" onclick="return confirm('Do you want to remove information about this subject?');"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        }
    </table>
</div>
