@page "/deleteSubject/{CurrentId}"
@using RatingStudents.Data
@inject SubjectService subService
@inject NavigationManager NavMan

<h2>Delete Subject</h2>
<hr />
<h4>Are you sure want to delete this?</h4>
<div class="row">
    <div class="col-8">
        <strong>StudentId: </strong><p>@subject.Name</p>
        <strong>SubjectId: </strong><p>@subject.TeacherId</p>
        <strong>Mark: </strong><p>@subject.MaxMark</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <input type="button" class="btn btn-dark" @onclick="@RemoveSubject" value="Delete" />
        <input type="button" class="btn btn-dark" @onclick="@Cancel" value="Cancel" />
    </div>
</div>

@code {

    [Parameter]
    public string CurrentId { get; set; }
    RatingStudents.Data.Subject subject = new Data.Subject();

    protected override async Task OnInitializedAsync()
    {
        subject = await Task.Run(() => subService.GetSubject(Convert.ToInt32(CurrentId)));
    }

    protected void RemoveSubject()
    {
        subService.Delete(subject);
        NavMan.NavigateTo("subject");
    }
    void Cancel()
    {
        NavMan.NavigateTo("Subject");
    }

}
