@page "/addTeacher"
@using RatingStudents.Data
@inject TeacherService teacherService
@inject NavigationManager NavMan

<h2>Add teacher</h2>
<hr />

<form>
    <div class="col-8">
        <input type="text" class="form-control" placeholder="Last name" @bind="@teacher.LastName"/>
        <input type="text" class="form-control" placeholder="First name" @bind="@teacher.FirstName"/>
        <input type="text" class="form-control" placeholder="Middle name" @bind="@teacher.MiddleName"/>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="button" class="btn btn-dark" @onclick="@AddTeacher" value="Save" />
            <input type="button" class="btn btn-dark" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</form>

@code {
    RatingStudents.Data.Teacher teacher = new Data.Teacher();

    protected void AddTeacher()
    {
        teacherService.Create(teacher);
        NavMan.NavigateTo("teachers");
    }
    void Cancel()
    {
        NavMan.NavigateTo("teachers");
    }
}
