@page "/deleteTeacher/{CurrentId}"
@using RatingStudents.Data
@inject TeacherService teacherService
@inject NavigationManager NavMan

<h2>Delete Teacher</h2>
<hr />
<h4>Are you sure want to delete this?</h4>
<div class="row">
    <div class="col-8">
        <strong>Last name: </strong><p>@teacher.LastName</p>
        <strong>First name: </strong><p>@teacher.FirstName</p>
        <strong>Middle name: </strong><p>@teacher.MiddleName</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <input type="button" class="btn btn-dark" @onclick="@RemoveTeacher" value="Delete" />
        <input type="button" class="btn btn-dark" @onclick="@Cancel" value="Cancel" />
    </div>
</div>

@code {

    [Parameter]
    public string CurrentId { get; set; }
    RatingStudents.Data.Teacher teacher = new Data.Teacher();

    protected override async Task OnInitializedAsync()
    {
        teacher = await Task.Run(() => teacherService.GetTeacher(Convert.ToInt32(CurrentId)));
    }

    protected void RemoveTeacher()
    {
        teacherService.Delete(teacher);
        NavMan.NavigateTo("teachers");
    }
    void Cancel()
    {
        NavMan.NavigateTo("teachers");
    }

}
